AcoolClient/src/META-INF/wsdl/localhost_64950/ACoolEnterpriseServiceProject/CoolArithmeticService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://rohitraj.andrew.cmu.edu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://rohitraj.andrew.cmu.edu/" name="CoolArithmeticService">
<types>
<xsd:schema>
<xsd:import namespace="http://rohitraj.andrew.cmu.edu/" schemaLocation="http://localhost:64950/ACoolEnterpriseServiceProject/CoolArithmeticService?xsd=1"/>
</xsd:schema>
</types>
<message name="add">
<part name="parameters" element="tns:add"/>
</message>
<message name="addResponse">
<part name="parameters" element="tns:addResponse"/>
</message>
<message name="sub">
<part name="parameters" element="tns:sub"/>
</message>
<message name="subResponse">
<part name="parameters" element="tns:subResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="CoolArithmeticService">
<operation name="add">
<input wsam:Action="http://rohitraj.andrew.cmu.edu/CoolArithmeticService/addRequest" message="tns:add"/>
<output wsam:Action="http://rohitraj.andrew.cmu.edu/CoolArithmeticService/addResponse" message="tns:addResponse"/>
</operation>
<operation name="sub">
<input wsam:Action="http://rohitraj.andrew.cmu.edu/CoolArithmeticService/subRequest" message="tns:sub"/>
<output wsam:Action="http://rohitraj.andrew.cmu.edu/CoolArithmeticService/subResponse" message="tns:subResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://rohitraj.andrew.cmu.edu/CoolArithmeticService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://rohitraj.andrew.cmu.edu/CoolArithmeticService/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="CoolArithmeticServicePortBinding" type="tns:CoolArithmeticService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="add">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sub">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CoolArithmeticService">
<port name="CoolArithmeticServicePort" binding="tns:CoolArithmeticServicePortBinding">
<soap:address location="http://localhost:64950/ACoolEnterpriseServiceProject/CoolArithmeticService"/>
</port>
</service>
</definitions>