RestaurantWebServiceClientProject/xml-resources/web-service-references/RestaurantWebService/wsdl/localhost_64950/RestaurantWebServiceProject/RestaurantWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><xs:schema xmlns:tns="http://rohitraj.andrew.cmu.edu/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://rohitraj.andrew.cmu.edu/">

<xs:element name="visit" type="tns:visit"/>

<xs:element name="visitResponse" type="tns:visitResponse"/>

<xs:complexType name="visit">
<xs:sequence>
<xs:element name="fromClient" type="xs:string" minOccurs="0"/>
<xs:element name="userID" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="visitResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>