JPASOAPClientProject/src/META-INF/wsdl/localhost_64950/FirstRecordWSProject/FirstRecordWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><xs:schema xmlns:tns="http://rohitraj.andrew.cmu.edu/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://rohitraj.andrew.cmu.edu/">

<xs:element name="CustomerName" type="tns:CustomerName"/>

<xs:element name="CustomerNameResponse" type="tns:CustomerNameResponse"/>

<xs:complexType name="CustomerName">
<xs:sequence>
<xs:element name="x" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CustomerNameResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>